<div class="main">
    <div class="logo text-right"> Forgot Password
        <div class="clearfix"></div>
    </div>
    <div class="container">
        <div class="middle text-center">
            <div id="login">
                <form [formGroup]="forgotPasswordForm" autocomplete="off" (submit)="forgotPassword()">
                    <fieldset class="clearfix">
                        <div class="row">
                            <div class="col-md-2"><i class="fa fa-user fa-2x"></i> </div>
                            <div class="col-md-10">
                                <input type="text" class="form-control" formControlName="username"
                                    placeholder="userName">
                                <div class="validationMsg">
                                    <small class="text-danger" *ngIf="forgotPasswordForm.get('username')?.touched
                                        && forgotPasswordForm.get('username')?.errors?.required">
                                        UserName is mandatory
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"><i class="fa fa-lock fa-2x"></i> </div>
                            <div class="col-md-10">
                                <input type="password" class="form-control" formControlName="password"
                                    placeholder="Password">
                                <div class="validationMsg">
                                    <small class="text-danger"
                                        *ngIf="forgotPasswordForm.get('password')?.touched && forgotPasswordForm.get('password')?.errors?.required">
                                        Password is mandatory
                                    </small>
                                    <small class="text-danger"
                                        *ngIf="forgotPasswordForm.get('password')?.touched && forgotPasswordForm.get('password')?.errors?.minlength">Minimun
                                        6 characters required
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"><i class="fa fa-lock fa-2x"></i> </div>
                            <div class="col-md-10">
                                <input type="password" class="form-control" formControlName="confirmPassword"
                                    Placeholder="Confirm Password">
                                <div class="validationMsg">
                                    <small class="text-danger"
                                        *ngIf="forgotPasswordForm.get('confirmPassword')?.touched && forgotPasswordForm.get('confirmPassword')?.errors?.required">
                                        Confirm Password is mandatory
                                    </small>
                                    <small class="text-danger"
                                        *ngIf="forgotPasswordForm.get('confirmPassword')?.touched && forgotPasswordForm.get('confirmPassword')?.errors?.minlength">Minimun
                                        6 characters required</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" style="margin-left: -4px;">
                                <button class="btn btn-lg my-3 m-3" [disabled]="!forgotPasswordForm.valid">Forgot
                                    Password</button>
                            </div>
                        </div>
                    </fieldset>
                    <div class="clearfix"></div>
                </form>
                <div class="clearfix"></div>
            </div> 
        </div>
    </div>
</div>