<div class="data" *ngIf="displayNoData == 'true'">
    <div class="card" *ngFor="let i of myTweets" style="margin: 20px;">
        <div class="card-header">
            <div class="d-flex">
                <h5>{{userName |titlecase}}</h5>
                <div class="ml-auto">
                    <a class="delete" style="font-size: 18px;" (click)="deleteTweetById(i.tweetId,userName)">Delete</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">#{{i.tweetTag}}</h5>
            <p class="card-text" style="font-size: 20px;"><i class="fas fa-2x fa-quote-left"></i> &nbsp; {{i.tweet}}</p>
            <div class="d-flex" style="font-size: 20px;">
                <a class="viewLikes" (click)="LikeTweetByID(i.tweetId,userName)"> <i class="far fa-thumbs-up"></i>
                </a> {{i.like}}
                <div class="ml-auto">
                    <a class="viewcomments" [routerLink]="['/user-dashboard/tweet', i.tweetId]"><i
                            class="far fa-comment"></i></a> {{i.tweetReply.length}}
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="displayNoData == 'false'">
    <h1> No Tweets Added By You</h1>
</div>