<div class="container my-3" *ngIf="user">
  <div class=" container row">
    <div class="col-md-4 col-sm-4 col-md-12">
      <div class="row">
        <div class="col-12">
          <div class="d-flex">
            <div class="profile-img">
              <img src="\assets\UserProfile.png" width="150" class="avatar img-circle" alt="avatar" />
            </div>
            <div class="ml-auto">
              <h3 class="my-5">
                {{ user.firstName | titlecase }} {{ user.lastName | titlecase }}
              </h3>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row text-center">
        <div class="col-12">
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-md-12">
      <div class="profile-head">
        <div class="row">
          <div class="col-md-6">
            <label>LoginId</label>
          </div>
          <div class="col-md-6">
            <p>{{ user.userName }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Email</label>
          </div>
          <div class="col-md-6">
            <p>{{ user.emailId |lowercase }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Phone</label>
          </div>
          <div class="col-md-6">
            <p>{{user.contactNumber}}</p>
          </div>
        </div>
        <form [formGroup]="ChangePassword" autocomplete="off" (submit)="changePassword()">
          <div class="row">
            <div class="col-md-6">
              <label class="my-1">UserName</label>
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" formControlName="username" placeholder="userName">
              <div class="validationMsg">
                <small class="text-danger" *ngIf="ChangePassword.get('username')?.touched
                                              && ChangePassword.get('username')?.errors?.required">
                  UserName is mandatory
                </small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="my-1">New Password</label>
            </div>
            <div class="col-md-6 form-group">
              <input type="newPassword" class="form-control" formControlName="newPassword" placeholder="New Password">
              <div class="validationMsg">
                <small class="text-danger"
                  *ngIf="ChangePassword.get('newPassword')?.touched && ChangePassword.get('newPassword')?.errors?.required">
                  New Password is mandatory
                </small>
                <small class="text-danger"
                  *ngIf="ChangePassword.get('newPassword')?.touched && ChangePassword.get('newPassword')?.errors?.minlength">Minimun
                  6 characters required
                </small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="my-1">Confirm Password</label>
            </div>
            <div class="col-md-6 form-group">
              <input type="confirmPassword" class="form-control" formControlName="confirmPassword"
                placeholder="Confirm Password">
              <div class="validationMsg">
                <small class="text-danger"
                  *ngIf="ChangePassword.get('confirmPassword')?.touched && ChangePassword.get('confirmPassword')?.errors?.required">
                  Confirm Password is mandatory
                </small>
                <small class="text-danger"
                  *ngIf="ChangePassword.get('confirmPassword')?.touched && ChangePassword.get('confirmPassword')?.errors?.minlength">Minimun
                  6 characters required
                </small>
                <small class="text-danger" *ngIf="ChangePassword.get('confirmPassword')?.errors?.confirmedValidator">
                  Confirm Password does not match
                </small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-md-4"></div>
            <div class="col-6 col-md-4"><button class="btn btn-md my-2" [disabled]="!ChangePassword.valid">Change
                Password</button>
            </div>
            <div class="col-6 col-md-4"></div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 col-md-12">
    </div>
  </div>
</div>