@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0px auto;
}

p {
  line-height: 1.5em;
}

.container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

#login,
.logo {
  display: inline-block;
  width: 60%;
}

#login {
  padding: 0px 22px;
  width: 80%;
}

.logo {
  color: #fff;
  font-size: 40px;
  line-height: 40px;
  margin-top: 18px;
  margin-left: 450px;
}

#login form span.fa {
  background-color: #fff;
  border-radius: 3px 0px 0px 3px;
  color: #000;
  display: block;
  float: left;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

.text-danger
{
    font-weight: 700;
    font-size: 16px;
    float: right;
}

.validationMsg
{
    width: 208px;
    text-align: left;
    height:20px;
}

#login form input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  background-color: #fff;
  border-radius: 0px 3px 3px 0px;
  color: #000;
  margin-bottom: 0.5em;
  margin-top: 0.25em;
  padding: 0 16px;
  width: 250px;
}

#login form input {
  height: 40px;
  width:250px;
  font-size: 18px;
}
